.card {
  background-color: inherit;
}

.link {
  color: var(--mantine-color-text);
  text-decoration: none;
  border-radius: var(--mantine-radius-md);
}

.link:hover {
  background-color: var(--mantine-color-default-hover);
  text-decoration: none;
}
