.card {
  background-color: var(--mantine-color-body);
}

.title {
  font-weight: bold;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1.2;
}

.body {
  padding: var(--mantine-spacing-md);
}

.link {
  color: var(--mantine-color-text);
  text-decoration: none;
}

.link:hover {
  background-color: var(--mantine-color-default-hover);
}

.imageSmall {
  min-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.imageLarge {
  min-width: 10rem;
  height: 10rem;
}
