[data-mantine-color-scheme="dark"] .employee {
  background-color: var(--mantine-color-dark-6);
}

[data-mantine-color-scheme="light"] .employee {
  border: 1px solid var(--mantine-color-gray-2);
  box-shadow: var(--mantine-shadow-sm);
}
