.card {
  height: 100%;
  gap: 1rem;
  padding: var(--mantine-spacing-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--mantine-color-gray-2);
}

.title {
  font-weight: 900;
  line-height: 1.2;
  font-size: 32px;
}
